<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Dashboard</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/deans/maindashdean.css')}}">
  <link rel="icon" href="{{url_for('static', filename='image/logo2.png')}}" type="image/x-icon">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <!-- fixed side bar -->
  <aside class="sidebar">
    <nav class="pad">
      <a href="{{url_for('ctec_bp.home_ctec')}}" class="menu-btn">
        <div class="non-active-bordericon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="non-active-icon">
            <path d="M11.47 3.841a.75.75 0 0 1 1.06 0l8.69 8.69a.75.75 0 1 0 1.06-1.061l-8.689-8.69a2.25 2.25 0 0 0-3.182 0l-8.69 8.69a.75.75 0 1 0 1.061 1.06l8.69-8.689Z" />
            <path d="m12 5.432 8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75V21a.75.75 0 0 1-.75.75H5.625a1.875 1.875 0 0 1-1.875-1.875v-6.198a2.29 2.29 0 0 0 .091-.086L12 5.432Z" />
          </svg>
        </div>
        <span>Home</span>
      </a>
  <!-- drop down dashboard -->
      <a href="javascript:void(0)" class="menu-btn" id="dashboardToggle">
  <div class="non-active-bordericon">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="non-active-icon">
      <path d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.035-.84-1.875-1.875-1.875h-.75ZM9.75 8.625c0-1.035.84-1.875 1.875-1.875h.75c1.035 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 0 1-1.875-1.875V8.625ZM3 13.125c0-1.035.84-1.875 1.875-1.875h.75c1.035 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 0 1 3 19.875v-6.75Z" />
    </svg>
  </div>
  <span>Dashboard</span>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" style="width:16px; margin-left:auto;">
    <path d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" />
  </svg>
  <script src="{{url_for('static', filename='js/sidebaractive.js')}}"></script>
</a>

<div class="submenu-container" id="dashboardSubmenu">
    <a href="#" class="menu-active">
    <div class="active-bordericon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="active-icon">
        <path fill-rule="evenodd" d="M2.25 2.25a.75.75 0 0 0 0 1.5H3v10.5a3 3 0 0 0 3 3h1.21l-1.172 3.513a.75.75 0 0 0 1.424.474l.329-.987h8.418l.33.987a.75.75 0 0 0 1.422-.474l-1.17-3.513H18a3 3 0 0 0 3-3V3.75h.75a.75.75 0 0 0 0-1.5H2.25Zm6.54 15h6.42l.5 1.5H8.29l.5-1.5Zm8.085-8.995a.75.75 0 1 0-.75-1.299 12.81 12.81 0 0 0-3.558 3.05L11.03 8.47a.75.75 0 0 0-1.06 0l-3 3a.75.75 0 1 0 1.06 1.06l2.47-2.47 1.617 1.618a.75.75 0 0 0 1.146-.102 11.312 11.312 0 0 1 3.612-3.321Z" clip-rule="evenodd" />
      </svg>
    </div>
    <snap>Main Dashboard</snap>
    </a>

    <a href="{{url_for('ctec_bp.ctecdash_ctec')}}" class="menu-btn">
    <div class="non-active-bordericon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="non-active-icon">
        <path d="M3.375 4.5C2.339 4.5 1.5 5.34 1.5 6.375V13.5h12V6.375c0-1.036-.84-1.875-1.875-1.875h-8.25ZM13.5 15h-12v2.625c0 1.035.84 1.875 1.875 1.875h.375a3 3 0 1 1 6 0h3a.75.75 0 0 0 .75-.75V15Z" />
        <path d="M8.25 19.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0ZM15.75 6.75a.75.75 0 0 0-.75.75v11.25c0 .087.015.17.042.248a3 3 0 0 1 5.958.464c.853-.175 1.522-.935 1.464-1.883a18.659 18.659 0 0 0-3.732-10.104 1.837 1.837 0 0 0-1.47-.725H15.75Z" />
        <path d="M19.5 19.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
      </svg>
    </div>

    <snap>CTEC</snap></a>

</div>
      <div>
        <hr class="sidebardivider">
      </div>
      
      <a href="{{url_for('ctec_bp.profile_ctec')}}" class="menu-btn">
        <div class="non-active-bordericon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="non-active-icon">
            <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" clip-rule="evenodd" />
          </svg>
        </div>
        <span>Profile</span>
      </a>

        <a href="{{url_for('ctec_bp.help_ctec')}}" class="menu-btn">
        <div class="non-active-bordericon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="non-active-icon">
            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm8.706-1.442c1.146-.573 2.437.463 2.126 1.706l-.709 2.836.042-.02a.75.75 0 0 1 .67 1.34l-.04.022c-1.147.573-2.438-.463-2.127-1.706l.71-2.836-.042.02a.75.75 0 1 1-.671-1.34l.041-.022ZM12 9a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" />
          </svg>
        </div>
        <span>Help</span>
        </a>

        <a href="#" id="logoutLink" class="menu-btn">
          <div class="non-active-bordericon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="non-active-icon">
              <path fill-rule="evenodd" d="M16.5 3.75a1.5 1.5 0 0 1 1.5 1.5v13.5a1.5 1.5 0 0 1-1.5 1.5h-6a1.5 1.5 0 0 1-1.5-1.5V15a.75.75 0 0 0-1.5 0v3.75a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5.25a3 3 0 0 0-3-3h-6a3 3 0 0 0-3 3V9A.75.75 0 1 0 9 9V5.25a1.5 1.5 0 0 1 1.5-1.5h6ZM5.78 8.47a.75.75 0 0 0-1.06 0l-3 3a.75.75 0 0 0 0 1.06l3 3a.75.75 0 0 0 1.06-1.06l-1.72-1.72H15a.75.75 0 0 0 0-1.5H4.06l1.72-1.72a.75.75 0 0 0 0-1.06Z" clip-rule="evenodd" />
            </svg>
          </div>

          <snap>Logout</snap>
        </a>
    </nav>
  </aside>
<main>
 
  <!--header -->
        <header class="topmenu">
            <div class="brand">
              <div class="logo-sq">
                <img src="{{url_for('static', filename='image/logo2.png')}}" alt="NovaSight Logo" class="brand-logo">
              </div>
                <div class="brand-text">
                    <h1>NOVASIGHT</h1>
                    <span>ACADEMIC PREDICTION</span>
                </div>
            </div>

            <!-- user-profile section -->
            <a href="{% if user %}{{ url_for('ctec_bp.profile_ctec') }}{% else %}{{ url_for('login') }}{% endif %}" class="user-profile">
                {% if user %}
                    <!-- Logged-in user -->
                    <span>{{ user.username }}</span>

                {% if user.profile_image_url %}
                    <img src="{{ user.profile_image_url }}" alt="User Avatar" class="avatar" style="background-color: rgb(143, 185, 219);">
                    {% else %}
                        <!-- Default SVG when logged in but NO image -->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="avatar" style="width: 32px; height: 32px;">
                          <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                        </svg>
                    {% endif %}

                {% else %}
                    <!-- Not logged in -->
                    <span>Login</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="avatar" style="width: 32px; height: 32px;">
                      <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                    </svg>
                {% endif %}
            </a>
        </header>

    <section class="dashboard-grid">
      <script>
          const COLLEGE_NAME = "{{ college_type }}";
      </script>

      <div class="card card-mini">
        <label>Year</label>
        <select id="globalYearFilter" class="form-select form-select-sm">
            <option value="2022">2022 (Actual)</option>
            <option value="2023">2023 (Actual)</option>
            <option value="2024" selected>2024 (Current)</option>
            <option value="2026">2026 (Predicted)</option>
            <option value="2028">2028 (Predicted)</option>
            <option value="2030">2030 (Predicted)</option>
        </select>
      </div>

      <div class="card card-mini">
        <label>Semester</label>
        <select id="filterSemester" class="form-select">
            <option value="all">Overall</option>
            <option value="1sem">1st Sem</option>
            <option value="2sem">2nd Sem</option>
        </select>
      </div>

      <div class="card card-mini">
        <label>Department</label>
        <select id="filterCollege" class="form-select">
            <option value="all">All Colleges</option>
            <option value="CAHS">CAHS</option>
            <option value="CBA">CBA</option>
            <option value="CCST">CCST</option>
            <option value="CEA">CEA</option>
            <option value="COAS">COAS</option>
            <option value="CTEC">CTEC</option>
        </select>
      </div> 
      
      <div class="card card-mini">
        <div class="card" id="kpi-card-students" style="border-left: 5px solid #df4e4e; border-radius: 10px; background: white; padding: 10px; height: 50px;">
            <div style="align-items: center; display: flex; justify-content: space-between;" >
                <div>
                    <div style="font-size: small; font-weight: bold; text-transform: uppercase; margin-bottom: 1; color: #000000;" id="kpi-title-students">
                        Total Enrollment (Actual)
                    </div>
                    <div style="font-weight: 800;" id="kpi-val-students">
                        ---
                    </div>
                </div>
                <div style="border-radius: 50%; background: lightblue; padding: 7px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#4e73df" viewBox="0 0 16 16">
                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                    </svg>
                </div>
            </div>
        </div>
      </div>


      <div class="card card-mini">
        <div class= id="kpi-card-gwa" style="border-left: 5px solid #c81c1c; border-radius: 10px; background: white; padding: 10px; height: 50px;">
            <div style="align-items: center; display: flex; justify-content: space-between;">
                <div>
                    <div style="font-size: small; font-weight: bold; text-transform: uppercase; margin-bottom: 1; color: #000000;" id="kpi-title-gwa">
                        Average GWA (Actual)
                    </div>
                    <div style="font-weight: 800;" id="kpi-val-gwa">
                        ---
                    </div>
                </div>
                <!-- Icon -->
                <div style="border-radius: 50%; background: lightcoral; padding: 7px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#c81c1c" viewBox="0 0 16 16" >
                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                        <path d="M6 10a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </div>
            </div>
        </div>
      </div>

      <div class="card card-wide">
        <img id="dropoutBoxPlotImg_all" src="" alt="Loading Analysis..." style="border-radius: 20px; width: 100%; max-height: 360px; display: none;">
        <div id="chart-loader">Loading ML Analysis...</div>
      </div>

      <div class="card card-wide1">
        <div class="card-ranking">
            <canvas id="gwaTrendChart" style="height: 360px; width: 100%;"></canvas>
        </div>
      </div>

      <div class="card card-full-width">
        <div class="card-ranking">

            <canvas id="gwaRankingChart" style="height: 200px; width: 500px; padding: 50px;"></canvas>
        </div>
      </div>


      <div class="card third-square">
        <div style="background-color: #fff; border: 1px solid #e3e6f0; border-radius: 0.35rem; box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15); margin-bottom: 1.5rem; padding: 10px; height: 480px;">
            <div style="padding: 0.75rem 1.25rem; margin-bottom: 0; background-color: #fff; border-bottom: 1px solid #e3e6f0; display: flex; align-items: center; justify-content: space-between; border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;">
                <h6 style="font-weight: 700; color: #000000; font-size: 1rem;">Predicted Status Distribution</h6>

                <span id="status-year-badge" style="display: inline-block; padding: 0.25em 0.4em; font-size: 75%; font-weight: 700; line-height: 1; text-align: center; white-space: nowrap; vertical-align: baseline; border-radius: 0.25rem; color: #fff; background-color: #cc3636;">Loading...</span>
            </div>

            <div style="flex: 1 1 auto; padding: 1.25rem;">
                <div style="position: relative; height: 250px; width: 100%; padding-top: 1.5rem; padding-bottom: 0.5rem;">
                    <canvas id="statusDoughnutChart"></canvas>

                <div style="margin-top: .5rem; text-align: center; font-size: 0.875rem; color: #5a5c69;">
                    <span style="margin-right: 0.5rem;"><span style="color:#1cc88a; margin-right: 3px;">●</span> High</span>
                    <span style="margin-right: 0.5rem;"><span style="color:#f6c23e; margin-right: 3px;">●</span> Avg</span>
                    <span style="margin-right: 0.5rem;"><span style="color:#e74a3b; margin-right: 3px;">●</span> At-Risk</span>
                </div>
            </div>
          </div>
        </div>
      </div>



      <div class="card card-bottom-large">
        <div class="card-ranking">
            <canvas id="dropoutRankingChart" style="height: 160px; width: 300px; padding: 50px;"></canvas>
          </div>
      </div>

      <div class="card card-bottom-small">
        <div class="card-ranking" style="height: 490px;">
          <div style="padding: 0.75rem 1.25rem; margin-bottom: 0; background-color: #f8f9fc; border-bottom: 1px solid #e3e6f0; display: flex; justify-content: space-between; align-items: center; border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;">
                <h6 style="margin: 0; font-weight: 700; color: #000000; font-size: 1rem;">INC Rate Forecast (2022 - 2030)</h6>
          </div>
            
            <!-- CARD BODY -->
            <div style="flex: 1 1 auto; padding: 1.25rem;">
                <div style="height: 350px; width: 100%; position: relative;">
                    <canvas id="incForecastChart" style="height: 200px;"></canvas>
                </div>
            </div>
        </div>
      </div>

    </section>

    <script src="{{url_for('static', filename='js/maindash.js')}}"></script>
  </section>

     <!-- Logout Modal Structure -->
  <div id="logoutModal" class="modal-overlay" style="display: none;"> <!-- Initially hidden -->
    <div class="logout-card">
      <h1 class="brand-name">NovaSight</h1>
      <p class="confirmation-text">Are you sure you want to logout?</p>
      <div class="button-group">
        <button id="confirmLogoutBtn" class="btn btn-primary">Logout</button>
        <button id="cancelLogoutBtn" class="btn btn-primary">Back</button>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/logout.js') }}"></script>

  <footer class="footer">
    <div class="footer-content">
        <span class="page-label">Page/</span><span class="page-name">Main Dashboard</span>
    </div>
  </footer> 
</main>
</body>
</html>